@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Tysla';
  src: local('Tysla'), url(./fonts/Tysla.otf) format('otf');
}
@font-face {
  font-family: 'Montserrat-m';
  src: local('Montserrat-Medium'), url(./fonts/Montserrat-Medium.otf) format('otf');
}
@font-face {
  font-family: 'Montserrat-b';
  src: local('Montserrat-Bold'), url(./fonts/Montserrat-Bold.otf) format('otf');
}

@tailwind utilities;


input:checked + div svg {
  @apply block;
}

body,html{
  @apply bg-gray-70;
}

canvas{
  image-rendering: pixelated;
   image-rendering: crisp-edges;
}